/* CSS RESET
==================================================================================================== 
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "PT Sans", sans-serif; }

body {
  font-size: 1.6rem; }

header {
  background: #515151;
  padding: 2rem;
  text-align: center; }

h1 {
  background: #515151;
  color: #ffffff;
  text-transform: uppercase; }
  @media only screen and (min-width: 1000px) {
    h1 {
      text-align: left; } }

h2 {
  color: #111111;
  padding: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }
  @media only screen and (min-width: 1000px) {
    h2 {
      text-align: left;
      padding-top: 2rem;
      padding-bottom: 1rem;
      padding-left: 0rem; } }

.error {
  display: none; }

@media only screen and (min-width: 1000px) {
  .mainContanier {
    display: -ms-flexbox;
    display: flex;
    margin-left: 2rem;
    -ms-flex-pack: justify;
        justify-content: space-between; } }

@media only screen and (min-width: 1000px) {
  .form-container {
    -ms-flex-order: 1;
        order: 1;
    -ms-flex-preferred-size: 55.3%;
        flex-basis: 55.3%; } }

@media only screen and (min-width: 1000px) {
  .sub-container {
    -ms-flex-order: 2;
        order: 2;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-right: 2rem; } }

form {
  background: #F7F7F7; }
  @media only screen and (min-width: 1000px) {
    form {
      -ms-flex-order: 2;
          order: 2; } }

.contactInfo {
  background: #4E92DF;
  padding: 2rem;
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none; }
  @media only screen and (min-width: 1000px) {
    .contactInfo {
      font-size: 1.6rem; } }

.reg-info {
  padding: 1rem;
  margin-top: 1rem; }
  @media only screen and (min-width: 1000px) {
    .reg-info {
      margin-top: 0rem; } }

.phoneNumber {
  background-image: url(../svg/phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1rem 0rem;
  text-indent: 2.5rem;
  margin-top: 0.6rem; }

.contactEmail {
  background-image: url(../svg/email.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 2.5rem;
  margin-top: 0.8rem; }

label {
  display: block; }

input {
  display: block;
  background: #E0E0E0;
  border-radius: 0.5rem;
  outline: none;
  margin: 0.5rem 0rem;
  padding: 1.5rem 0.5rem;
  width: 100%;
  height: 5rem; }
  @media only screen and (min-width: 1000px) {
    input {
      font-size: 1.6rem;
      padding: 0.5rem 0.5rem;
      height: 4rem;
      width: 60%; } }

span {
  font-size: 1rem; }

select {
  background-image: url(../svg/down-chevron.svg);
  background-repeat: no-repeat;
  background-position: 97% 55%;
  background-size: 2rem;
  background-color: #E0E0E0;
  border-radius: 0.5rem;
  border-style: none;
  font-size: 1.6rem;
  outline: none;
  margin: 0.5rem 0rem;
  padding: 1.5rem 0.5rem;
  width: 100%;
  height: 5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  @media only screen and (min-width: 1000px) {
    select {
      padding: 0.5rem 0.5rem;
      width: 60%;
      height: 4rem; } }

button {
  width: 92%;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  border-style: none;
  background: #4E92DF;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 2rem; }
  @media only screen and (min-width: 1000px) {
    button {
      font-size: 1.6rem;
      padding: 1.5rem 0rem;
      width: 57.1%; } }
