
html {
  font-family: $font-choice;
  // line-height: 1.5;
}
body{
	font-size: $font-size;
}
header{
	    background: #515151;
	    padding: 2rem;
	    text-align: center;
} 
h1{
	background: #515151;
	color: #ffffff;
	text-transform: uppercase;
     @include screen(large){
        text-align: left;
    }
}
h2{
	color: #111111;
	padding: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
    @include screen(large){
        text-align: left;
        padding-top: 2rem;
        padding-bottom: 1rem;
        padding-left: 0rem;
    }
}
